.post-image {
  width: 100%;
}

.post-image img {
  width: 50%;
  box-shadow: 1px 1px 3px rgba(0,0,0,0,3);
}

.example-form {
  margin-top: 15px;
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 60%;
}

h4 {
  color: darkred;
}


mat-expansion-panel {
  width: 60%;
  margin-left: 7cm;
}
mat-accordion {

  margin-left: 7cm;
  margin-top: 5cm;
}
