ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

a {
  text-decoration: none;
  color: white;
}

.spacer {
  flex: 1 1 auto;
}


.router-link-active {
	color: burlywood;

}

span {
  color: burlywood;
}



mat-sidenav{
  width: 15%;
}


ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

a {
  text-decoration: none;
  color: white;
}

.spacer {
  flex: 1 1 auto;
}

mat-toolbar {
  background:brown;
}


.router-link-active {
	color: aliceblue;

}

span {
  color: burlywood;
}

.sidenav{
  width: 400px;
  height: 200px;
  margin: 10px;
  border: 1px solid #555;

}

mat-sidenav {
  background-color: palevioletred;
  color: darkblue;
}
