mat-card {
  width: 60%;
  margin: auto;
  background-color: beige;
}

mat-form-field,
textarea {
  width: 100%;
}

mat-spinner {
  margin: auto;
}

input[type="file"] {
  visibility: hidden;
}

.image-preview {
  height: 5rem;
  margin: 1rem 0;
}
.image-preview img {
  height: 100%;
}

::ng-deep .mat-focused .mat-form-field-label {
  /*change color of label*/
  color: brown !important;
 }


::ng-deep.mat-form-field-ripple {
 /*change color of underline when focused*/
 background-color: brown !important;;
}
